.course-page{
  margin-top: 32px;

  .row{
    &.panel{
      &:not(:last-child){
        margin-bottom: 32px;
      }
    }
  }

  .panel{

    &.table{
      min-height: 400px;
    }

    padding: 12px;
    //min-height: 400px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 8px;
    text-align: left;

    .panel-header{
      border-bottom: 1px solid black;
      font-size: 26px;
      padding: 8px;
    }

    .panel-content{
      padding: 8px;
    }

  }

}