.courses-list{
  display: block;

  .box-header{
    border-bottom: 1px solid #D3D3D3;
  }

  .course {
    &:hover{
      background-color: whitesmoke;
      cursor: pointer;
    }

    display: grid;
    text-align: left;
    margin-top: 4px;

    &:not(:last-child){
      border-bottom: 1px solid red;
      padding: 4px;
      //border-radius: 8px;
    }

    .course-title{

    }

    .course-desc{

    }

    //display: flex;
  }

  .box-content{

  }
}